<div class="container main__box">
  <h4 class="col s12 main__title">
    Login Page
  </h4>
  <form class="col s12 form" #myForm="ngForm" novalidate (ngSubmit)="loginWithEmailAndPassword(email, password)">
    <div class="row">
      <div class="input-field col s10 offset-s1 l6 offset-l3">
        <input id="email" type="email" [(ngModel)]="email" required name="email" class="validate">
        <label for="email" data-error="wrong" data-success="right">Email</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s10 offset-s1 l6 offset-l3">
        <input id="password" type="password" class="validate" [(ngModel)]="password" required name="password">
        <label for="password">Password</label>
      </div>
    </div>
    <div class="row main__btn">
        <button class="btn waves-effect waves-light" type="submit" name="action" [disabled]="myForm.invalid || password.length<6">Sign
        <i class="material-icons right">send</i>
      </button>
      <!--<a routerLink="/register" class="btn waves-effect waves-light register__btn light-green darken-3">Register
      <i class="material-icons right">send</i>
      </a>-->
    </div>
  </form>
</div>