:host{
  width: 100%;
}
.game__list{
  display: flex;
  // flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 100%;
  flex-wrap: nowrap;
  transform: translateX(0%);
  transition: all .35s ease;
}
.list__item{
  min-width: 100%;
}
.game__box{
  overflow: hidden;
  position: relative;
}
.slider_nav{
  position: absolute;
  top: 45%;
  left: 0;
  font-size: 2em;
  cursor: pointer;
}
.next{
  left: auto;
  right: 0;
}
.createPet{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0,0,0,.6);
  z-index: 200;
  .material-icons{
    position: absolute;
    right: 2%;
    top: 2%;
    cursor: pointer;
    color: white;
  }
}
.addPet{
  margin: 1em auto 0;
  display: flex;
}