<div class="container game__box" >
  <button class="addPet btn waves-effect waves-light light-green" [ngClass]="{'disabled': pets.length>3}" (click)="toggle()">Add Pet</button>
  <ul class="game__list" [ngStyle]="{'transform': counterOut}">
    <li class="list__item" *ngFor="let pet of pets; let i=index">
      <pet-page [pet]="pet" pets="pets"></pet-page>
    </li>
  </ul>
  <i class="material-icons slider_nav prev" (click)="pageMinus()" *ngIf="pets.length>1">navigate_before</i>
  <i class="material-icons slider_nav next" (click)="pagePlus()" *ngIf="pets.length>1">navigate_next</i>
</div>
<div class="createPet" *ngIf="creating">
  <button class="btn waves-effect waves-light light-blue darken-3" (click)="setAnimal(1)" [ngClass]="{'disabled':false}">Dog</button>
  <button class="btn waves-effect waves-light light-blue darken-3" (click)="setAnimal(2)" [ngClass]="{'disabled':false}">Cat</button>
  <button class="btn waves-effect waves-light light-blue darken-3" (click)="setAnimal(3)" [ngClass]="{'disabled':false}">Raccoon</button>
  <button class="btn waves-effect waves-light light-blue darken-3" (click)="setAnimal(4)" [ngClass]="{'disabled': false}">Penguin</button>
  <i class="material-icons" (click)="toggle()">close</i>
</div>