:host{
  width: 100%;
}
.item__indicators{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  text-align: center;
}
.indicator{
  color: white;
  height: 1.5em;
  transition: all .4s ease;
  border: 2px solid black;
  border-radius: 5px;
}
.perfect{
  background: green;
}
.good{
  background: rgb(76, 128, 0);
}
.normal{
  background: rgb(128, 128, 0);
}
.bad{
  background: rgb(128, 72, 0);
}
.terribly{
  background: rgb(128, 6, 0);
}
.image__big{
  max-width: 100%;
}
.control_button{
  min-height: 5em;
  padding: 1em 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 22%;
}
.button__img{
  height: 100%;
  width: 100px;
  max-width: 100%;
  // width: 50%;
}
.pet-control{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch
}
.died{
  position: relative;
  .image__big{
    opacity: .3;
  }
  .died__text{
    position: absolute;
    top: 40%;
    left: 40%;
    text-transform: uppercase;
    color: red;
    font-weight: bold;
    font-size: 2em;
  }
} 