<div class="pet-page row">
  <div class="item__indicators cart col s3">
    <div class="indicators__item">
      Hungry: <strong>{{pet.animal_characteristics[0].value}}</strong><br>
      <div class="item__hungry indicator" [ngClass]="{perfect: pet?.animal_characteristics[0].value<=100, good: pet?.animal_characteristics[0].value<80,normal: pet?.animal_characteristics[0].value<60, bad: pet?.animal_characteristics[0].value<40,terribly: pet?.animal_characteristics[0].value<20}" [style.width]="getHungry()"></div>
    </div>
    <div class="indicators__item">
      Sleep: <strong>{{pet.animal_characteristics[1].value}}</strong><br>
      <div class="item__sleep indicator" [ngClass]="{perfect: pet.animal_characteristics[1].value<=100, good: pet.animal_characteristics[1].value<80,normal: pet.animal_characteristics[1].value<60,bad: pet.animal_characteristics[1].value<40,terribly: pet.animal_characteristics[1].value<20}" [style.width]="getSleep()"></div>
    </div>
    <div class="indicators__item" >
      Care: <strong>{{pet.animal_characteristics[2].value}}</strong><br>
      <div class="item__care indicator" [ngClass]="{perfect: pet.animal_characteristics[2].value<=100, good: pet.animal_characteristics[2].value<80,normal: pet.animal_characteristics[2].value<60,bad: pet.animal_characteristics[2].value<40,terribly: pet.animal_characteristics[2].value<20}" [style.width]="getCare()"></div>
    </div>
    <div class="indicators__item" >
      Happy: <strong>{{pet.animal_characteristics[3].value}}</strong><br>
      <div class="item__care indicator" [ngClass]="{perfect: pet.animal_characteristics[3].value<=100, good: pet.animal_characteristics[3].value<80,normal: pet.animal_characteristics[3].value<60,bad: pet.animal_characteristics[3].value<40,terribly: pet.animal_characteristics[3].value<20}" [style.width]="getHappy()"></div>
    </div>
  </div>
</div>
<div class="pet-image row" [ngClass]="{'died': pet?.animal.die}">
  <div class="col s8 offset-s2">
    <img src="{{takeImage()}}" alt="" class="image__big">
  </div>
  <span class="died__text" *ngIf="pet?.animal.die">Died!</span>
</div>
<div class="pet-control">
  <button class="waves-effect waves-light light-blue darken-3 btn control_button" (click)="toBetter(pet, 1)" [attr.disabled]="[(whatTime | async | date:'mm:ss')] > '05:00' ? null:'disabled'">
    <!--[attr.disabled]="whatTime | async | date:'mm' < 43 ? null:'disabled'"-->
    <img src="assets/image/buttons/food.svg" alt="" class="button__img">
    <span class="button_time">{{ whatTime | async | date:'mm:ss'}}</span>
  </button>

  <button class="waves-effect waves-light light-blue darken-3 btn control_button" (click)="toBetter(pet, 2)" [attr.disabled]="[(sleepTime | async | date:'mm:ss')] > '10:00' ? null:'disabled'">
    <img src="assets/image/buttons/sleep.svg" alt="" class="button__img">
    <span class="button_time">{{ sleepTime | async | date:'mm:ss'}}</span>
  </button>
  
  <button class="waves-effect waves-light light-blue darken-3 btn control_button" (click)="toBetter(pet, 3)" [attr.disabled]="[(careTime | async | date:'mm:ss')] > '05:00' ? null:'disabled'">
    <img src="assets/image/buttons/care.svg" alt="" class="button__img">
    <span class="button_time">{{ careTime | async | date:'mm:ss'}}</span>
  </button>

  <button class="waves-effect waves-light light-blue darken-3 btn control_button" (click)="toBetter(pet,4)" [attr.disabled]="[(happyTime | async | date:'mm:ss')] > '20:00' ? null:'disabled'">
    <img src="assets/image/buttons/happy.svg" alt="" class="button__img">
    <span class="button_time">{{ happyTime | async | date:'mm:ss'}}</span>
  </button>
</div>
