:host{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.header{
  display: flex;
  justify-content:center;
  margin: 0;
  padding: 1em 0;
  .container{
    display: flex;
    align-items: stretch;
  }
  .header__title{

  }
  .header__title_h1{
    font-size: 2.5em;
    margin: 0;
    text-align: center;
    a{
      color: white;
    }
  }
  .header__exit{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .material-icons{
      color: white;
    }
  }
}
.main{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: stretch;
}
