<header class="header row card-panel light-blue darken-3 waves-effect waves-light">
  <div class="container">
    <div class="col s6 offset-s3 header__title">
      <h1 class="header__title_h1"><a routerLink="/">Tamagotchi Game</a></h1>
    </div>
    <div class="col s3 header__exit"><i class="material-icons">exit_to_app</i>
    </div>
  </div>
</header>
<main class="main">
  <router-outlet></router-outlet>
</main>
<footer class="footer page-footer darken-3 waves-effect waves-light">
  &copy; ArtSoft
</footer>